/* Dark mode colors. */
:root {
    --sl-content-width: 90%;
    --sl-text-5xl: 3.5rem;
    --starlight-image-zoom-backdrop-bg: oklch(36.35% 0 0 / 42.69%);
}

/* Light mode colors. */
:root[data-theme="light"] {
    --starlight-image-zoom-backdrop-bg: oklch(36.35% 0 0 / 42.69%);
}
