---
import Caution from "@components/asides/Caution.astro";
---

<Caution title="Important" >
    The following guide assumes you've used my reverse proxy setup, if not you can find it <a href="/tools/traefik/">here</a>
</Caution>
