---
import {Aside} from "@astrojs/starlight/components";
---

<Aside type="caution">The following guide assumes you've used my reverse proxy setup, if not you can find it <a
        href="/tools/traefik/">here</a></Aside>
